<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dog-Eared</title>
    <link href="https://fonts.googleapis.com/css?family=Arvo|Gravitas+One" rel="stylesheet">
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <h1 class="index_h1">Dog-Eared</h1>
    <nav>
      <% if(currentUser) { %>
        Welcome, <%=currentUser.username%>!
        <form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" value="Logout"/>
        </form>
        <% if(currentUser.isAdmin) { %>
          <a href="/books/new">Add a Book</a>
        <% } %>
      <% } else { %>
      <a href="/sessions/new">Log In</a></li>
      <a href="/users/new">Register</a></li>
      <% } %>
      <a href="/users/cart">View Cart</a>
    </nav>
    <div id="index_container">
      <div id="books_container">
        <% while(books.length > 0) {
          let i = Math.floor(Math.random()*books.length)
          let book = books[i]
          books.splice(i,1) %>
          <a href="/books/<%=book.id%>">
            <div class="book_tile">
              <img class="book_tile_img" src="<%=book.img%>"></a>
              <div>$<%=book.price.toFixed(2)%></div>
            </div>
          </a>
        <% } %>
      </div>
    </div>
  </body>
</html>
