<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mongoose Store</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <h1 id="index_h1">Dog-Eared</h1>
    <nav>
      <a href="/books/new">Add a Book</a>
    </nav>
    <div id="index_container">
      <% for(let book of books) { %>
        <div>
          <h4><%=book.name%></h4>
          <a href="/books/<%=book.id%>"><img src="<%=book.img%>"></a>
          $<%=book.price%>
        </div>
      <% } %>
    </div>
  </body>
</html>
